{"openapi":"3.0.1","info":{"description":"## Introduction \nBy using this REST API, you can easily integrate Clockify with your own add-ons, push and pull data between Clockify and other tools, and create custom add-ons on [CAKE.com](https://www.cake.com) Marketplace. Whether you’re looking to automate time tracking, generate custom reports, or build other custom integrations, our API provides the flexibility and power you need to get the job done. If you have any questions or run into any issues while using our API, don’t hesitate to reach out to us for help. You can also post questions on Stack Overflow with the Clockify tag to get help from the community. \n## Authentication \nTo authenticate your requests to your API, make sure to include either the ‘X-Api-Key’ or the ‘X-Addon-Token’ in the request header, containing your API or Addon key. \nIf your workspace is on a subdomain (e.g. subdomain.clockify.me), you’ll need to generate a new API key in your Profile Settings that will work specifically for that workspace. This ensures that you’re accessing data from the correct workspace and helps maintain the security of your data.\n## Webhooks \nWebhooks can enhance your workflow by keeping your add-on up-to-date with the latest changes in Clockify. With Clockify’s webhooks you can receive real-time notifications when certain events such as starting timer or deleting time entry occur in Clockify. Workspace admins can create up to 10 web hooks each, with a total of 100 webhooks allowed per workspace.\n## Rate limiting \nOur REST API has a specific rate limit of 50 requests per second (by addon on one workspace) when accessed using X-Addon-Token. Exceeding this limit will result in an error message with the description \"Too many requests\"\n## Regional server URLs \nIf your workspace is in a specific region (i.e. EU, USA) you need to change your URL depending on the region to access v1 API endpoints.\nFor example, this is how [v1/file/image](*) endpoint would look like per region:\n- EU (Germany ): [https://euc1.clockify.me/api/v1/file/image](https://euc1.clockify.me)\n- USA: [https://use2.clockify.me/api/v1/file/image](https://use2.clockify.me)\n- UK: [https://euw2.clockify.me/api/v1/file/image](https://euw2.clockify.me)\n- AU: [https://apse2.clockify.me/api/v1/file/image](https://apse2.clockify.me)","title":"Clockify API","version":"v1","x-logo":{"altText":"Clockify logo","url":"https://clockify.me/downloads/clockify+with+margins.png"}},"servers":[{"url":"/api","description":"API Base URL"},{"url":"","description":"API Base URL"}],"tags":[{"name":"User","x-displayName":"User"},{"name":"backend-app","x-displayName":"backend-app"},{"name":"Workspace","x-displayName":"Workspace"},{"name":"Webhooks","x-displayName":"Webhooks"},{"name":"Approval","x-displayName":"Approval"},{"name":"Client","x-displayName":"Client"},{"name":"Custom fields","x-displayName":"Custom fields"},{"name":"Expense","x-displayName":"Expense"},{"name":"Invoice","x-displayName":"Invoice"},{"name":"Project","x-displayName":"Project"},{"name":"Task","x-displayName":"Task"},{"name":"Scheduling","x-displayName":"Scheduling"},{"name":"Tag","x-displayName":"Tag"},{"name":"Time entry","x-displayName":"Time entry"},{"name":"Group","x-displayName":"Group"},{"name":"pto-app","x-displayName":"pto-app"},{"name":"Balance","x-displayName":"Balance"},{"name":"Holiday","x-displayName":"Holiday"},{"name":"Policy","x-displayName":"Policy"},{"name":"Time Off","x-displayName":"Time Off"},{"name":"Shared Report","x-displayName":"Shared Report"},{"name":"reports-app","x-displayName":"reports-app"},{"name":"Team Report","x-displayName":"Team Report"},{"name":"Time Entry Report","x-displayName":"Time Entry Report"},{"name":"Expense Report","x-displayName":"Expense Report"}],"paths":{"/v1/file/image":{"post":{"operationId":"uploadImage","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"Image to be uploaded","format":"binary"}}}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadFileResponseV1"}}},"description":"OK"}},"summary":"Add photo","tags":["User"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/user":{"get":{"operationId":"getLoggedUser","parameters":[{"description":"If set to true, memberships will be included, otherwise memberships will not be included.","example":true,"in":"query","name":"include-memberships","required":false,"schema":{"type":"string","description":"If set to true, memberships will be included, otherwise memberships will not be included.","example":true}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDtoV1"}}},"description":"OK"}},"security":[{"MarketplaceKeyAuth":[]},{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}],"summary":"Get currently logged-in user's info","tags":["User"]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces":{"get":{"operationId":"getWorkspacesOfUser","parameters":[{"description":"If provided, you'll get a filtered list of workspaces where you have any of the specified roles. Owners are not counted as admins when filtering.","example":["WORKSPACE_ADMIN","OWNER"],"in":"query","name":"roles","required":false,"schema":{"type":"string","enum":["WORKSPACE_ADMIN","OWNER","TEAM_MANAGER","PROJECT_MANAGER"]}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WorkspaceDtoV1"}}}},"description":"OK"}},"security":[{"MarketplaceKeyAuth":[]},{"ApiKeyAuth":[]}],"summary":"Get all my workspaces","tags":["Workspace"]},"post":{"operationId":"createWorkspace","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceRequest"}}},"required":true},"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceDtoV1"}}},"description":"Created"}},"security":[{"ApiKeyAuth":[]}],"summary":"Add workspace","tags":["Workspace"]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}":{"get":{"operationId":"getWorkspaceOfUser","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceDtoV1"}}},"description":"OK"}},"summary":"Get workspace info","tags":["Workspace"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/addons/{addonId}/webhooks":{"get":{"operationId":"getAddonWebhooks","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents addon identifier across the system.","example":"64c777ddd3fcab07cfbb210c","in":"path","name":"addonId","required":true,"schema":{"type":"string","description":"Represents addon identifier across the system.","example":"64c777ddd3fcab07cfbb210c"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhooksDtoV1"}}},"description":"OK"}},"summary":"Get all webhooks for addon on workspace","tags":["Webhooks"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/approval-requests":{"get":{"operationId":"getApprovalGroups","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Filters results based from the provided approval state.","example":"PENDING","in":"query","name":"status","required":false,"schema":{"type":"string","enum":["PENDING","APPROVED","WITHDRAWN_SUBMISSION","WITHDRAWN_APPROVAL","REJECTED"]}},{"description":"Represents the column name to be used as sorting criteria.","example":"START","in":"query","name":"sort-column","required":false,"schema":{"type":"string","enum":["ID","USER_ID","START","UPDATED_AT"]}},{"description":"Represents the sorting order.","example":"ASCENDING","in":"query","name":"sort-order","required":false,"schema":{"type":"string","enum":["ASCENDING","DESCENDING"]}},{"description":"page","example":1,"in":"query","name":"page","required":false,"schema":{"type":"string","description":"page","example":1}},{"description":"max page-size 200","example":50,"in":"query","name":"page-size","required":false,"schema":{"minimum":1,"type":"string","description":"max page-size 200","example":50}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApprovalDetailsDtoV1"}}}},"description":"OK"}},"summary":"Get approval requests","tags":["Approval"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"post":{"operationId":"createApprrovalRequest","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateApprovalRequest"}}},"required":true},"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApprovalRequestDtoV1"}}},"description":"Created"}},"summary":"Submit approval request","tags":["Approval"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/approval-requests/users/{userId}":{"post":{"operationId":"createApprovalForOther","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents user identifier across the system.","example":"5a0ab5acb07987125438b60f","in":"path","name":"userId","required":true,"schema":{"type":"string","description":"Represents user identifier across the system.","example":"5a0ab5acb07987125438b60f"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateApprovalRequest"}}},"required":true},"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApprovalRequestDtoV1"}}},"description":"Created"}},"summary":"Submit approval request for user","tags":["Approval"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/approval-requests/{approvalRequestId}":{"patch":{"operationId":"updateApprovalStatus","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents approval request identifier across the system.","example":"940ab5acb07987125438b65y","in":"path","name":"approvalRequestId","required":true,"schema":{"type":"string","description":"Represents approval request identifier across the system.","example":"940ab5acb07987125438b65y"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateApprovalRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApprovalRequestDtoV1"}}},"description":"OK"}},"summary":"Update approval request","tags":["Approval"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/clients":{"get":{"operationId":"getClients","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Filters client results that matches with the string provided in their client name.","example":"Client X","in":"query","name":"name","required":false,"schema":{"type":"string","description":"Filters client results that matches with the string provided in their client name.","example":"Client X"}},{"description":"Column name that will be used as criteria for sorting results.","example":"NAME","in":"query","name":"sort-column","required":false,"schema":{"type":"string","description":"Column name that will be used as criteria for sorting results.","example":"NAME"}},{"description":"Sorting mode","example":"ASCENDING","in":"query","name":"sort-order","required":false,"schema":{"type":"string","default":"ASCENDING"}},{"description":"page","example":1,"in":"query","name":"page","required":false,"schema":{"type":"string","description":"page","example":1}},{"description":"page size","example":50,"in":"query","name":"page-size","required":false,"schema":{"type":"string","description":"page size","example":50}},{"description":"Filter whether to include archived clients or not.","example":false,"in":"query","name":"archived","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ClientWithCurrencyDtoV1"}}}},"description":"OK"}},"summary":"Find clients on workspace","tags":["Client"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"post":{"operationId":"createClient","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateClientRequestV1"}}},"required":true},"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientWithCurrencyDtoV1"}}},"description":"Created"}},"summary":"Add a new client","tags":["Client"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/clients/{id}":{"delete":{"operationId":"deleteClient","parameters":[{"description":"Represents client identifier across the system.","example":"44a687e29ae1f428e7ebe305","in":"path","name":"id","required":true,"schema":{"type":"string","description":"Represents client identifier across the system.","example":"44a687e29ae1f428e7ebe305"}},{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientDtoV1"}}},"description":"OK"}},"summary":"Delete client","tags":["Client"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"get":{"operationId":"getClient","parameters":[{"description":"Represents client identifier across the system.","example":"44a687e29ae1f428e7ebe305","in":"path","name":"id","required":true,"schema":{"type":"string","description":"Represents client identifier across the system.","example":"44a687e29ae1f428e7ebe305"}},{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientWithCurrencyDtoV1"}}},"description":"OK"}},"summary":"Get client by ID","tags":["Client"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"put":{"operationId":"updateClient","parameters":[{"description":"Represents client identifier across the system.","example":"44a687e29ae1f428e7ebe305","in":"path","name":"id","required":true,"schema":{"type":"string","description":"Represents client identifier across the system.","example":"44a687e29ae1f428e7ebe305"}},{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"in":"query","name":"archive-projects","required":false,"schema":{"type":"boolean"}},{"in":"query","name":"mark-tasks-as-done","required":false,"schema":{"type":"boolean"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateClientRequestV1"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientDtoV1"}}},"description":"OK"}},"summary":"Update client","tags":["Client"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/cost-rate":{"put":{"operationId":"setWorkspaceCostRate","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostRateRequestV1"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceDtoV1"}}},"description":"OK"}},"summary":"Update workspace cost rate","tags":["Workspace"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/custom-fields":{"get":{"operationId":"ofWorkspace","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"If provided, you'll get a filtered list of custom fields that contain the provided string in their name.","example":"nationality","in":"query","name":"name","required":false,"schema":{"type":"string","description":"If provided, you'll get a filtered list of custom fields that contain the provided string in their name.","example":"nationality"}},{"description":"If provided, you'll get a filtered list of custom fields that matches the provided string with the custom field status.","example":"VISIBLE","in":"query","name":"status","required":false,"schema":{"type":"string","enum":["INACTIVE","VISIBLE","INVISIBLE"]}},{"description":"If provided, you'll get a filtered list of custom fields that matches the provided string with the custom field entity type.","example":["TIMEENTRY","USER"],"in":"query","name":"entityType","required":false,"schema":{"type":"string","enum":["TIMEENTRY","USER"]}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustomFieldDtoV1"}}}},"description":"OK"}},"summary":"Get custom fields on workspace","tags":["Custom fields"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/custom-fields/{customFieldId}":{"put":{"operationId":"editCustomField","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents custom field identifier across the system.","example":"26a687e29ae1f428e7ebe101","in":"path","name":"customFieldId","required":true,"schema":{"type":"string","description":"Represents custom field identifier across the system.","example":"26a687e29ae1f428e7ebe101"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCustomFieldRequestV1"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldDtoV1"}}},"description":"OK"}},"summary":"Set custom field as required","tags":["Custom fields"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/expenses":{"get":{"operationId":"getExpenses","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"page","example":1,"in":"query","name":"page","required":false,"schema":{"type":"string","description":"page","example":1}},{"description":"page-size","example":50,"in":"query","name":"page-size","required":false,"schema":{"maximum":200,"minimum":1,"type":"string","description":"page-size","example":50}},{"description":"If provided, you'll get a filtered result of expenses that matchesthe provided string in the user ID linked to the expense.","example":"5a0ab5acb07987125438b60f","in":"query","name":"userId","required":false,"schema":{"type":"string","description":"If provided, you'll get a filtered result of expenses that matchesthe provided string in the user ID linked to the expense.","example":"5a0ab5acb07987125438b60f"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpensesAndTotalsDtoV1"}}},"description":"OK"}},"summary":"Get all expenses on workspace","tags":["Expense"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"post":{"operationId":"createExpense","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/CreateExpenseV1Request"}}}},"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseDtoV1"}}},"description":"Created"}},"summary":"Create expense","tags":["Expense"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/expenses/categories":{"get":{"operationId":"getCategories","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents the column name to be used as sorting criteria.","example":"NAME","in":"query","name":"sort-column","required":false,"schema":{"type":"string","description":"Represents the column name to be used as sorting criteria.","example":"NAME"}},{"description":"Represents the sorting order. Possible values: ASCENDING, DESCENDING","example":"ASCENDING","in":"query","name":"sort-order","required":false,"schema":{"type":"string","description":"Represents the sorting order. Possible values: ASCENDING, DESCENDING","example":"ASCENDING"}},{"description":"page","example":1,"in":"query","name":"page","required":false,"schema":{"minimum":1,"type":"string","description":"page","example":1}},{"description":"page size","example":50,"in":"query","name":"page-size","required":false,"schema":{"minimum":1,"type":"string","description":"page size","example":50}},{"description":"Flag to filter results based on whether category is archived or not.","example":true,"in":"query","name":"archived","required":false,"schema":{"type":"string","description":"Flag to filter results based on whether category is archived or not.","example":true}},{"description":"If provided, you'll get a filtered list of expense categoriesthat matches the provided string in their name.","example":"procurement","in":"query","name":"name","required":false,"schema":{"type":"string","description":"If provided, you'll get a filtered list of expense categoriesthat matches the provided string in their name.","example":"procurement"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseCategoriesWithCountDtoV1"}}},"description":"OK"}},"summary":"Get all expense categories","tags":["Expense"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"post":{"operationId":"createExpenseCategory","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseCategoryV1Request"}}},"required":true},"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseCategoryDtoV1"}}},"description":"Created"}},"summary":"Add expense category","tags":["Expense"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/expenses/categories/{categoryId}":{"delete":{"operationId":"deleteCategory","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents category identifier across the system.","example":"89a687e29ae1f428e7ebe567","in":"path","name":"categoryId","required":true,"schema":{"type":"string","description":"Represents category identifier across the system.","example":"89a687e29ae1f428e7ebe567"}}],"responses":{"204":{"description":"No Content"}},"summary":"Delete expense category","tags":["Expense"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"put":{"operationId":"updateCategory","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents category identifier across the system.","example":"89a687e29ae1f428e7ebe567","in":"path","name":"categoryId","required":true,"schema":{"type":"string","description":"Represents category identifier across the system.","example":"89a687e29ae1f428e7ebe567"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseCategoryV1Request"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseCategoryDtoV1"}}},"description":"OK"}},"summary":"Update expense category","tags":["Expense"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/expenses/categories/{categoryId}/status":{"patch":{"operationId":"updateExpenseCategoryStatus","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents category identifier across the system.","example":"89a687e29ae1f428e7ebe567","in":"path","name":"categoryId","required":true,"schema":{"type":"string","description":"Represents category identifier across the system.","example":"89a687e29ae1f428e7ebe567"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseCategoryArchiveV1Request"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseCategoryDtoV1"}}},"description":"OK"}},"summary":"Archive expense category","tags":["Expense"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/expenses/{expenseId}":{"delete":{"operationId":"deleteExpense","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents expense identifier across the system.","example":"64c777ddd3fcab07cfbb210c","in":"path","name":"expenseId","required":true,"schema":{"type":"string","description":"Represents expense identifier across the system.","example":"64c777ddd3fcab07cfbb210c"}}],"responses":{"200":{"description":"OK"}},"summary":"Delete expense","tags":["Expense"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"get":{"operationId":"getExpense","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents expense identifier across the system.","example":"64c777ddd3fcab07cfbb210c","in":"path","name":"expenseId","required":true,"schema":{"type":"string","description":"Represents expense identifier across the system.","example":"64c777ddd3fcab07cfbb210c"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseDtoV1"}}},"description":"OK"}},"summary":"Get expense by ID","tags":["Expense"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"put":{"operationId":"updateExpense","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents expense identifier across the system.","example":"64c777ddd3fcab07cfbb210c","in":"path","name":"expenseId","required":true,"schema":{"type":"string","description":"Represents expense identifier across the system.","example":"64c777ddd3fcab07cfbb210c"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/UpdateExpenseV1Request"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpenseDtoV1"}}},"description":"OK"}},"summary":"Update expense","tags":["Expense"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/expenses/{expenseId}/files/{fileId}":{"get":{"operationId":"downloadFile","parameters":[{"description":"Represents file identifier across the system.","example":"745687e29ae1f428e7ebe890","in":"path","name":"fileId","required":true,"schema":{"type":"string","description":"Represents file identifier across the system.","example":"745687e29ae1f428e7ebe890"}},{"description":"Represents expense identifier across the system.","example":"64c777ddd3fcab07cfbb210c","in":"path","name":"expenseId","required":true,"schema":{"type":"string","description":"Represents expense identifier across the system.","example":"64c777ddd3fcab07cfbb210c"}},{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"type":"string","format":"byte"}}}},"description":"OK"}},"summary":"Download receipt","tags":["Expense"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/hourly-rate":{"put":{"operationId":"setWorkspaceHourlyRate","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateWithCurrencyRequestV1"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceDtoV1"}}},"description":"OK"}},"summary":"Update workspace billable rate","tags":["Workspace"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/invoices":{"get":{"operationId":"getInvoices","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"page","example":1,"in":"query","name":"page","required":false,"schema":{"type":"string","description":"page","example":1}},{"description":"page size","example":50,"in":"query","name":"page-size","required":false,"schema":{"type":"string","description":"page size","example":50}},{"description":"If provided, you'll get a filtered result of invoices that matches the provided string in the user ID linked to the expense.","example":"UNSENT","in":"query","name":"statuses","required":false,"schema":{"type":"string","enum":["UNSENT","SENT","PAID","PARTIALLY_PAID","VOID","OVERDUE"]}},{"description":"Valid column name as sorting criteria. Possible values: ID, CLIENT, DUE_ON, ISSUE_DATE, AMOUNT, BALANCE","example":"CLIENT","in":"query","name":"sort-column","required":false,"schema":{"type":"string","default":"ID"}},{"description":"Possible values: ASCENDING, DESCENDING","example":"ASCENDING","in":"query","name":"sort-order","required":false,"schema":{"type":"string","description":"Possible values: ASCENDING, DESCENDING","example":"ASCENDING"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoicesListDtoV1"}}},"description":"OK"}},"summary":"Get all invoices on workspace","tags":["Invoice"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"post":{"operationId":"createInvoice","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateInvoiceRequest"}}},"required":true},"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateInvoiceDtoV1"}}},"description":"Created"}},"summary":"Add invoice","tags":["Invoice"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/invoices/info":{"post":{"operationId":"getInvoicesInfo","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceFilterRequestV1"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceInfoResponseDtoV1"}}},"description":"OK"}},"summary":"Filter out invoices","tags":["Invoice"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/invoices/settings":{"get":{"operationId":"getInvoiceSettings","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceSettingsDtoV1"}}},"description":"OK"}},"summary":"Get invoice in another language","tags":["Invoice"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"put":{"operationId":"updateInvoiceSettings","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateInvoiceSettingsRequestV1"}}},"required":true},"responses":{"200":{"description":"OK"}},"summary":"Change invoice language","tags":["Invoice"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/invoices/{invoiceId}":{"delete":{"operationId":"deleteInvoice","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents invoice identifier across the system.","example":"78a687e29ae1f428e7ebe303","in":"path","name":"invoiceId","required":true,"schema":{"type":"string","description":"Represents invoice identifier across the system.","example":"78a687e29ae1f428e7ebe303"}}],"responses":{"200":{"description":"OK"}},"summary":"Delete invoice","tags":["Invoice"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"get":{"operationId":"getInvoice","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents invoice identifier across the system.","example":"83q687e29ae1f428e7ebe195","in":"path","name":"invoiceId","required":true,"schema":{"type":"string","description":"Represents invoice identifier across the system.","example":"83q687e29ae1f428e7ebe195"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceOverviewDtoV1"}}},"description":"OK"}},"summary":"Get invoice by ID","tags":["Invoice"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"put":{"operationId":"updateInvoice","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents invoice identifier across the system.","example":"78a687e29ae1f428e7ebe303","in":"path","name":"invoiceId","required":true,"schema":{"type":"string","description":"Represents invoice identifier across the system.","example":"78a687e29ae1f428e7ebe303"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateInvoiceRequestV1"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceOverviewDtoV1"}}},"description":"OK"}},"summary":"Send invoice","tags":["Invoice"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/invoices/{invoiceId}/duplicate":{"post":{"operationId":"duplicateInvoice","parameters":[{"description":"Represents invoice identifier across the system.","example":"78a687e29ae1f428e7ebe303","in":"path","name":"invoiceId","required":true,"schema":{"type":"string","description":"Represents invoice identifier across the system.","example":"78a687e29ae1f428e7ebe303"}}],"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceOverviewDtoV1"}}},"description":"Created"}},"summary":"Duplicate invoice","tags":["Invoice"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/invoices/{invoiceId}/export":{"get":{"operationId":"exportInvoice","parameters":[{"description":"Represents invoice identifier across the system.","example":"78a687e29ae1f428e7ebe303","in":"path","name":"invoiceId","required":true,"schema":{"type":"string","description":"Represents invoice identifier across the system.","example":"78a687e29ae1f428e7ebe303"}},{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents a locale.","example":"en","in":"query","name":"userLocale","required":true,"schema":{"type":"string","description":"Represents a locale.","example":"en"}}],"responses":{"200":{"content":{"*/*":{"schema":{"type":"array","items":{"type":"string","format":"byte"}}}},"description":"OK"}},"summary":"Export invoice","tags":["Invoice"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/invoices/{invoiceId}/payments":{"get":{"operationId":"getPaymentsForInvoice","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents invoice identifier across the system.","example":"78a687e29ae1f428e7ebe303","in":"path","name":"invoiceId","required":true,"schema":{"type":"string","description":"Represents invoice identifier across the system.","example":"78a687e29ae1f428e7ebe303"}},{"description":"page","example":1,"in":"query","name":"page","required":false,"schema":{"type":"string","description":"page","example":1}},{"description":"page size","example":50,"in":"query","name":"page-size","required":false,"schema":{"type":"string","description":"page size","example":50}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/InvoicePaymentDtoV1"}}}},"description":"OK"}},"summary":"Get payments for invoice","tags":["Invoice"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"post":{"operationId":"createInvoicePayment","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents invoice identifier across the system.","example":"78a687e29ae1f428e7ebe303","in":"path","name":"invoiceId","required":true,"schema":{"type":"string","description":"Represents invoice identifier across the system.","example":"78a687e29ae1f428e7ebe303"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateInvoicePaymentRequest"}}},"required":true},"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceOverviewDtoV1"}}},"description":"Created"}},"summary":"Add payment to invoice","tags":["Invoice"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/invoices/{invoiceId}/payments/{paymentId}":{"delete":{"operationId":"deletePaymentById","parameters":[{"description":"Represents invoice identifier across the system.","example":"78a687e29ae1f428e7ebe303","in":"path","name":"invoiceId","required":true,"schema":{"type":"string","description":"Represents invoice identifier across the system.","example":"78a687e29ae1f428e7ebe303"}},{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents payment identifier across the system.","example":"56p687e29ae1f428e7ebe456","in":"path","name":"paymentId","required":true,"schema":{"type":"string","description":"Represents payment identifier across the system.","example":"56p687e29ae1f428e7ebe456"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceOverviewDtoV1"}}},"description":"OK"}},"summary":"Delete payment from invoice","tags":["Invoice"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/invoices/{invoiceId}/status":{"patch":{"operationId":"changeInvoiceStatus","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents invoice identifier across the system.","example":"78a687e29ae1f428e7ebe303","in":"path","name":"invoiceId","required":true,"schema":{"type":"string","description":"Represents invoice identifier across the system.","example":"78a687e29ae1f428e7ebe303"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangeInvoiceStatusRequestV1"}}},"required":true},"responses":{"200":{"description":"OK"}},"summary":"Change invoice status","tags":["Invoice"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/member-profile/{userId}":{"get":{"operationId":"getMemberProfile","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents user identifier across the system.","example":"5a0ab5acb07987125438b60f","in":"path","name":"userId","required":true,"schema":{"type":"string","description":"Represents user identifier across the system.","example":"5a0ab5acb07987125438b60f"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberProfileDtoV1"}}},"description":"OK"}},"summary":"Get member's profile","tags":["User"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"patch":{"operationId":"updateMemberProfileWithAdditionalData","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents user identifier across the system.","example":"5a0ab5acb07987125438b60f","in":"path","name":"userId","required":true,"schema":{"type":"string","description":"Represents user identifier across the system.","example":"5a0ab5acb07987125438b60f"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberProfileFullRequestV1"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberProfileDtoV1"}}},"description":"OK"}},"summary":"Update member's profile","tags":["User"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/member-profile/{userId}/email":{"put":{"operationId":"changeUserMemberEmail","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents user identifier across the system.","example":"5a0ab5acb07987125438b60f","in":"path","name":"userId","required":true,"schema":{"type":"string","description":"Represents user identifier across the system.","example":"5a0ab5acb07987125438b60f"}},{"description":"Represents a subdomain name.","example":"coolestcompany","in":"header","name":"Sub-Domain-Name","required":false,"schema":{"type":"string","description":"Represents a subdomain name.","example":"coolestcompany"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangeEmailRequest"}}},"required":true},"responses":{"200":{"description":"OK"}},"summary":"Update user's email","tags":["User"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/projects":{"get":{"operationId":"getProjects","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"If provided, you'll get a filtered list of projects that contains the provided string in the project name.","example":"Software Development","in":"query","name":"name","required":false,"schema":{"type":"string","description":"If provided, you'll get a filtered list of projects that contains the provided string in the project name.","example":"Software Development"}},{"description":"Flag to toggle on/off strict search mode.","in":"query","name":"strict-name-search","required":false,"schema":{"type":"string","description":"Flag to toggle on/off strict search mode."}},{"description":"If provided, you'll get a filtered list of projects that matches the boolean whether a project is archived or not.","in":"query","name":"archived","required":false,"schema":{"type":"string","description":"If provided, you'll get a filtered list of projects that matches the boolean whether a project is archived or not."}},{"description":"If provided, you'll get a filtered list of projects that contains the boolean whether a project is billable or not.","in":"query","name":"billable","required":false,"schema":{"type":"string","description":"If provided, you'll get a filtered list of projects that contains the boolean whether a project is billable or not."}},{"description":"If provided, you'll get a filtered list of projects that matches any of the client names provided in the project client.","example":["Client X","Client Y"],"in":"query","name":"clients","required":false,"schema":{"type":"string","description":"If provided, you'll get a filtered list of projects that matches any of the client names provided in the project client.","example":["Client X","Client Y"]}},{"description":"If set to true, you'll get a filtered list of projects that contains the provided string(s) in the clients.","in":"query","name":"contains-client","required":false,"schema":{"type":"string","description":"If set to true, you'll get a filtered list of projects that contains the provided string(s) in the clients."}},{"description":"Filters projects based on client status provided.","example":"ACTIVE","in":"query","name":"client-status","required":false,"schema":{"type":"string","description":"Filters projects based on client status provided.","example":"ACTIVE"}},{"description":"Valid array of string(s).","example":["5a0ab5acb07987125438b60f","64c777ddd3fcab07cfbb210c"],"in":"query","name":"users","required":false,"schema":{"type":"string","description":"Valid array of string(s).","example":["5a0ab5acb07987125438b60f","64c777ddd3fcab07cfbb210c"]}},{"description":"If set to true, you'll get a filtered list of projects that contains the provided string(s) in the users.","in":"query","name":"contains-user","required":false,"schema":{"type":"string","description":"If set to true, you'll get a filtered list of projects that contains the provided string(s) in the users."}},{"description":"Filters projects based on client status provided.","example":"ALL","in":"query","name":"user-status","required":false,"schema":{"type":"string","description":"Filters projects based on client status provided.","example":"ALL"}},{"description":"Filters projects whether it is used as template or not.","in":"query","name":"is-template","required":false,"schema":{"type":"string","description":"Filters projects whether it is used as template or not."}},{"description":"Sorts the results by the given column/field","example":"NAME","in":"query","name":"sort-column","required":false,"schema":{"type":"string","description":"Sorts the results by the given column/field","example":"NAME"}},{"description":"Sorting mode. Possible values: ASCENDING, DESCENDING","example":"ASCENDING","in":"query","name":"sort-order","required":false,"schema":{"type":"string","description":"Sorting mode. Possible values: ASCENDING, DESCENDING","example":"ASCENDING"}},{"description":"If set to true, results will contain additional information about the project.","in":"query","name":"hydrated","required":false,"schema":{"type":"string","description":"If set to true, results will contain additional information about the project."}},{"description":"page","example":1,"in":"query","name":"page","required":false,"schema":{"type":"string","description":"page","example":1}},{"description":"page size","example":50,"in":"query","name":"page-size","required":false,"schema":{"type":"string","description":"page size","example":50}},{"description":"Valid set of string(s). If provided, you'll get a filtered list of projects that matches the provided access.","example":"PUBLIC","in":"query","name":"access","required":false,"schema":{"type":"string","description":"Valid set of string(s). If provided, you'll get a filtered list of projects that matches the provided access.","example":"PUBLIC"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProjectDtoV1"}}}},"description":"OK"}},"summary":"Get all projects on workspace","tags":["Project"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"post":{"operationId":"createNewProject","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectRequest"}}},"required":true},"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectDtoImplV1"}}},"description":"Created"}},"summary":"Add a new project","tags":["Project"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/projects/{projectId}":{"delete":{"operationId":"deleteProject","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents project identifier across the system.","example":"5b641568b07987035750505e","in":"path","name":"projectId","required":true,"schema":{"type":"string","description":"Represents project identifier across the system.","example":"5b641568b07987035750505e"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectDtoImplV1"}}},"description":"OK"}},"summary":"Delete project from workspace","tags":["Project"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"get":{"operationId":"getProject","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents project identifier across the system.","example":"5b641568b07987035750505e","in":"path","name":"projectId","required":true,"schema":{"type":"string","description":"Represents project identifier across the system.","example":"5b641568b07987035750505e"}},{"description":"If set to true, results will contain additional information about the project","in":"query","name":"hydrated","required":false,"schema":{"type":"string","description":"If set to true, results will contain additional information about the project"}},{"description":"If provided, you'll get a filtered list of custom fields that matches the provided string with the custom field entity type.","example":"TIMEENTRY","in":"query","name":"customFieldEntityType","required":false,"schema":{"type":"string","enum":["TIMEENTRY","USER"]}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectDtoV1"}}},"description":"OK"}},"summary":"Find project by ID","tags":["Project"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"put":{"operationId":"updateProject","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents project identifier across the system.","example":"5b641568b07987035750505e","in":"path","name":"projectId","required":true,"schema":{"type":"string","description":"Represents project identifier across the system.","example":"5b641568b07987035750505e"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProjectRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectDtoImplV1"}}},"description":"OK"}},"summary":"Update project on workspace","tags":["Project"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/projects/{projectId}/custom-fields":{"get":{"operationId":"getCustomFieldsOfProject","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents project identifier across the system.","example":"5b641568b07987035750505e","in":"path","name":"projectId","required":true,"schema":{"type":"string","description":"Represents project identifier across the system.","example":"5b641568b07987035750505e"}},{"description":"If provided, you'll get a filtered list of custom fields that matches the provided string with the custom field status.","example":"INACTIVE","in":"query","name":"status","required":true,"schema":{"type":"string","enum":["INACTIVE","VISIBLE","INVISIBLE"]}},{"example":"TIMEENTRY","in":"query","name":"entityType","required":false,"schema":{"type":"string","enum":["TIMEENTRY","USER"]}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustomFieldDtoV1"}}}},"description":"OK"}},"summary":"Get custom fields on project","tags":["Custom fields"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/projects/{projectId}/custom-fields/{customFieldId}":{"delete":{"operationId":"removeDefaultValueOfProject","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents project identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"projectId","required":true,"schema":{"type":"string","description":"Represents project identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents custom field identifier across the system.","example":"26a687e29ae1f428e7ebe101","in":"path","name":"customFieldId","required":true,"schema":{"type":"string","description":"Represents custom field identifier across the system.","example":"26a687e29ae1f428e7ebe101"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldDtoV1"}}},"description":"OK"}},"summary":"Remove custom field from project","tags":["Custom fields"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"patch":{"operationId":"editProjectCustomFieldDefaultValue","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents project identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"projectId","required":true,"schema":{"type":"string","description":"Represents project identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents custom field identifier across the system.","example":"26a687e29ae1f428e7ebe101","in":"path","name":"customFieldId","required":true,"schema":{"type":"string","description":"Represents custom field identifier across the system.","example":"26a687e29ae1f428e7ebe101"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldProjectDefaultValuesRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomFieldDtoV1"}}},"description":"OK"}},"summary":"Update custom field on project","tags":["Custom fields"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/projects/{projectId}/estimate":{"patch":{"operationId":"updateEstimate","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents project identifier across the system.","example":"5b641568b07987035750505e","in":"path","name":"projectId","required":true,"schema":{"type":"string","description":"Represents project identifier across the system.","example":"5b641568b07987035750505e"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectEstimateRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectDtoImplV1"}}},"description":"OK"}},"summary":"Update project estimate","tags":["Project"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/projects/{projectId}/memberships":{"patch":{"operationId":"updateMemberships","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents project identifier across the system.","example":"5b641568b07987035750505e","in":"path","name":"projectId","required":true,"schema":{"type":"string","description":"Represents project identifier across the system.","example":"5b641568b07987035750505e"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProjectMembershipsRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectDtoImplV1"}}},"description":"OK"}},"summary":"Update project memberships","tags":["Project"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"post":{"operationId":"addUsersToProject","parameters":[{"in":"path","name":"workspaceId","required":true,"schema":{"type":"string"}},{"in":"path","name":"projectId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddUsersToProjectRequestV1"}}},"required":true},"responses":{"200":{"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProjectDtoImplV1"}}},"description":"OK"}},"summary":"Assign/remove users to/from the project","tags":["Project"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/projects/{projectId}/tasks":{"get":{"operationId":"getTasks","parameters":[{"description":"Represents project identifier across the system.","example":"25b687e29ae1f428e7ebe123","in":"path","name":"projectId","required":true,"schema":{"type":"string","description":"Represents project identifier across the system.","example":"25b687e29ae1f428e7ebe123"}},{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"If provided, you'll get a filtered list of tasks that matchesthe provided string in their name.","example":"Bugfixing","in":"query","name":"name","required":false,"schema":{"type":"string","description":"If provided, you'll get a filtered list of tasks that matchesthe provided string in their name.","example":"Bugfixing"}},{"description":"Flag to toggle on/off strict name search mode.","in":"query","name":"strict-name-search","required":false,"schema":{"type":"string","description":"Flag to toggle on/off strict name search mode."}},{"description":"Filters search results whether task is active or not.","in":"query","name":"is-active","required":false,"schema":{"type":"string","description":"Filters search results whether task is active or not."}},{"description":"page","example":1,"in":"query","name":"page","required":false,"schema":{"type":"string","description":"page","example":1}},{"description":"page","example":1,"in":"query","name":"page-size","required":false,"schema":{"type":"string","description":"page","example":1}},{"description":"Represents the column as criteria for sorting tasks.","example":"ID","in":"query","name":"sort-column","required":false,"schema":{"type":"string","description":"Represents the column as criteria for sorting tasks.","example":"ID"}},{"description":"Sorting mode. Possible values: ASCENDING, DESCENDING","example":"ASCENDING","in":"query","name":"sort-order","required":false,"schema":{"type":"string","description":"Sorting mode. Possible values: ASCENDING, DESCENDING","example":"ASCENDING"}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TaskDtoV1"}}}},"description":"OK"}},"summary":"Find tasks on project","tags":["Task"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"post":{"operationId":"createTask","parameters":[{"description":"Represents project identifier across the system.","example":"25b687e29ae1f428e7ebe123","in":"path","name":"projectId","required":true,"schema":{"type":"string","description":"Represents project identifier across the system.","example":"25b687e29ae1f428e7ebe123"}},{"description":"Flag to set whetherr task will have assignee or none. Default value is true.","in":"query","name":"contains-assignee","required":false,"schema":{"type":"string","description":"Flag to set whetherr task will have assignee or none. Default value is true."}},{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskRequestV1"}}},"required":true},"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskDtoV1"}}},"description":"Created"}},"summary":"Add a new task on project","tags":["Task"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/projects/{projectId}/tasks/{id}/cost-rate":{"put":{"operationId":"setTaskCostRate","parameters":[{"description":"Represents project identifier across the system.","example":"25b687e29ae1f428e7ebe123","in":"path","name":"projectId","required":true,"schema":{"type":"string","description":"Represents project identifier across the system.","example":"25b687e29ae1f428e7ebe123"}},{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents task identifier across the system.","example":"57a687e29ae1f428e7ebe107","in":"path","name":"id","required":true,"schema":{"type":"string","description":"Represents task identifier across the system.","example":"57a687e29ae1f428e7ebe107"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostRateRequestV1"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskDtoV1"}}},"description":"OK"}},"summary":"Update task cost rate","tags":["Task"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/projects/{projectId}/tasks/{id}/hourly-rate":{"put":{"operationId":"setTaskHourlyRate","parameters":[{"description":"Represents project identifier across the system.","example":"25b687e29ae1f428e7ebe123","in":"path","name":"projectId","required":true,"schema":{"type":"string","description":"Represents project identifier across the system.","example":"25b687e29ae1f428e7ebe123"}},{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents task identifier across the system.","example":"57a687e29ae1f428e7ebe107","in":"path","name":"id","required":true,"schema":{"type":"string","description":"Represents task identifier across the system.","example":"57a687e29ae1f428e7ebe107"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HourlyRateRequestV1"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskDtoV1"}}},"description":"OK"}},"summary":"Update task billable rate","tags":["Task"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/projects/{projectId}/tasks/{taskId}":{"delete":{"operationId":"deleteTask","parameters":[{"description":"Represents task identifier across the system.","example":"57a687e29ae1f428e7ebe107","in":"path","name":"taskId","required":true,"schema":{"type":"string","description":"Represents task identifier across the system.","example":"57a687e29ae1f428e7ebe107"}},{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents project identifier across the system.","example":"25b687e29ae1f428e7ebe123","in":"path","name":"projectId","required":true,"schema":{"type":"string","description":"Represents project identifier across the system.","example":"25b687e29ae1f428e7ebe123"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskDtoV1"}}},"description":"OK"}},"summary":"Delete task from project","tags":["Task"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"get":{"operationId":"getTask","parameters":[{"description":"Represents task identifier across the system.","example":"57a687e29ae1f428e7ebe107","in":"path","name":"taskId","required":true,"schema":{"type":"string","description":"Represents task identifier across the system.","example":"57a687e29ae1f428e7ebe107"}},{"description":"Represents project identifier across the system.","example":"25b687e29ae1f428e7ebe123","in":"path","name":"projectId","required":true,"schema":{"type":"string","description":"Represents project identifier across the system.","example":"25b687e29ae1f428e7ebe123"}},{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskDtoV1"}}},"description":"OK"}},"summary":"Get task by id","tags":["Task"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"put":{"operationId":"updateTask","parameters":[{"description":"Represents task identifier across the system.","example":"57a687e29ae1f428e7ebe107","in":"path","name":"taskId","required":true,"schema":{"type":"string","description":"Represents task identifier across the system.","example":"57a687e29ae1f428e7ebe107"}},{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents project identifier across the system.","example":"25b687e29ae1f428e7ebe123","in":"path","name":"projectId","required":true,"schema":{"type":"string","description":"Represents project identifier across the system.","example":"25b687e29ae1f428e7ebe123"}},{"description":"Flag to set whetherr task will have assignee or none. Default value is true.","in":"query","name":"contains-assignee","required":false,"schema":{"type":"string","description":"Flag to set whetherr task will have assignee or none. Default value is true."}},{"description":"Represents a membership status.","example":"ACTIVE","in":"query","name":"membership-status","required":false,"schema":{"type":"string","enum":["PENDING","ACTIVE","DECLINED","INACTIVE","ALL"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTaskRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskDtoV1"}}},"description":"OK"}},"summary":"Update task on project","tags":["Task"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/projects/{projectId}/template":{"patch":{"operationId":"updateIsProjectTemplate","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents project identifier across the system.","example":"5b641568b07987035750505e","in":"path","name":"projectId","required":true,"schema":{"type":"string","description":"Represents project identifier across the system.","example":"5b641568b07987035750505e"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchProjectTemplateRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectDtoImplV1"}}},"description":"OK"}},"summary":"Update project template","tags":["Project"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/projects/{projectId}/users/{userId}/cost-rate":{"put":{"operationId":"addUsersCostRate","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents project identifier across the system.","example":"5b641568b07987035750505e","in":"path","name":"projectId","required":true,"schema":{"type":"string","description":"Represents project identifier across the system.","example":"5b641568b07987035750505e"}},{"description":"Represents user identifier across the system.","example":"4a0ab5acb07987125438b60f","in":"path","name":"userId","required":true,"schema":{"type":"string","description":"Represents user identifier across the system.","example":"4a0ab5acb07987125438b60f"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostRateRequestV1"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectDtoImplV1"}}},"description":"OK"}},"summary":"Update project user cost rate","tags":["Project"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/projects/{projectId}/users/{userId}/hourly-rate":{"put":{"operationId":"addUsersHourlyRate","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents project identifier across the system.","example":"5b641568b07987035750505e","in":"path","name":"projectId","required":true,"schema":{"type":"string","description":"Represents project identifier across the system.","example":"5b641568b07987035750505e"}},{"description":"Represents user identifier across the system.","example":"4a0ab5acb07987125438b60f","in":"path","name":"userId","required":true,"schema":{"type":"string","description":"Represents user identifier across the system.","example":"4a0ab5acb07987125438b60f"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostRateRequestV1"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectDtoImplV1"}}},"description":"OK"}},"summary":"Update project user billable rate","tags":["Project"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/scheduling/assignments/all":{"get":{"operationId":"getAllAssignments","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"If provided, assignments will be filtered by name","example":"Bugfixing","in":"query","name":"name","required":false,"schema":{"type":"string","description":"If provided, assignments will be filtered by name","example":"Bugfixing"}},{"description":"Represents start date in yyyy-MM-ddThh:mm:ssZ format.","example":"2020-01-01T00:00:00Z","in":"query","name":"start","required":false,"schema":{"type":"string","description":"Represents start date in yyyy-MM-ddThh:mm:ssZ format.","example":"2020-01-01T00:00:00Z"}},{"description":"Represents start date in yyyy-MM-ddThh:mm:ssZ format.","example":"2021-01-01T00:00:00Z","in":"query","name":"end","required":false,"schema":{"type":"string","description":"Represents start date in yyyy-MM-ddThh:mm:ssZ format.","example":"2021-01-01T00:00:00Z"}},{"description":"Represents the column as the sorting criteria.","example":"USER","in":"query","name":"sort-column","required":false,"schema":{"type":"string","enum":["PROJECT","USER","ID"]}},{"description":"Represents the sorting mode.","example":"ASCENDING","in":"query","name":"sort-order","required":false,"schema":{"type":"string","enum":["ASCENDING","DESCENDING"]}},{"description":"page","example":1,"in":"query","name":"page","required":false,"schema":{"type":"string","description":"page","example":1}},{"description":"max page-size 5000","example":50,"in":"query","name":"page-size","required":false,"schema":{"type":"string","description":"max page-size 5000","example":50}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AssignmentHydratedDtoV1"}}}},"description":"OK"}},"summary":"Get all assignments","tags":["Scheduling"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/scheduling/assignments/projects/totals":{"get":{"operationId":"getProjectTotals","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents search keyword","example":"keyword","in":"query","name":"search","required":false,"schema":{"type":"string","description":"Represents search keyword","example":"keyword"}},{"description":"Represents start date in yyyy-MM-ddThh:mm:ssZ format.","example":"2020-01-01T00:00:00Z","in":"query","name":"start","required":true,"schema":{"type":"string","description":"Represents start date in yyyy-MM-ddThh:mm:ssZ format.","example":"2020-01-01T00:00:00Z"}},{"description":"Represents end date in yyyy-MM-ddThh:mm:ssZ format.","example":"2021-01-01T00:00:00Z","in":"query","name":"end","required":true,"schema":{"type":"string","description":"Represents end date in yyyy-MM-ddThh:mm:ssZ format.","example":"2021-01-01T00:00:00Z"}},{"description":"page","example":1,"in":"query","name":"page","required":false,"schema":{"type":"string","description":"page","example":1}},{"description":"max page-size 200","example":50,"in":"query","name":"page-size","required":false,"schema":{"maximum":200,"type":"string","description":"max page-size 200","example":50}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SchedulingProjectsTotalsDtoV1"}}}},"description":"OK"}},"summary":"Get all scheduled assignments per project","tags":["Scheduling"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/scheduling/assignments/projects/totals/{projectId}":{"get":{"operationId":"getProjectTotalsForSingleProject","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents project identifier across the system.","example":"56b687e29ae1f428e7ebe504","in":"path","name":"projectId","required":true,"schema":{"type":"string","description":"Represents project identifier across the system.","example":"56b687e29ae1f428e7ebe504"}},{"description":"Represents start date in yyyy-MM-ddThh:mm:ssZ format.","example":"2020-01-01T00:00:00Z","in":"query","name":"start","required":true,"schema":{"type":"string","description":"Represents start date in yyyy-MM-ddThh:mm:ssZ format.","example":"2020-01-01T00:00:00Z"}},{"description":"Represents end date in yyyy-MM-ddThh:mm:ssZ format.","example":"2021-01-01T00:00:00Z","in":"query","name":"end","required":true,"schema":{"type":"string","description":"Represents end date in yyyy-MM-ddThh:mm:ssZ format.","example":"2021-01-01T00:00:00Z"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SchedulingProjectsTotalsDtoV1"}}},"description":"OK"}},"summary":"Get all scheduled assignments on project","tags":["Scheduling"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/scheduling/assignments/publish":{"put":{"operationId":"publishAssignments","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishAssignmentsRequestV1"}}},"required":true},"responses":{"200":{"description":"OK"}},"summary":"Publish assignments","tags":["Scheduling"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/scheduling/assignments/recurring":{"post":{"operationId":"createRecurring","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignmentCreateRequestV1"}}},"required":true},"responses":{"201":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AssignmentDtoV1"}}}},"description":"Created"}},"summary":"Create recurring assignment","tags":["Scheduling"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/scheduling/assignments/recurring/{assignmentId}":{"delete":{"operationId":"deleteRRecurringAssignment","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents assignment identifier across the system.","example":"5b641568b07987035750505e","in":"path","name":"assignmentId","required":true,"schema":{"type":"string","description":"Represents assignment identifier across the system.","example":"5b641568b07987035750505e"}},{"description":"Represents a series option.","example":"ALL","in":"query","name":"seriesUpdateOption","required":false,"schema":{"type":"string","enum":["THIS_ONE","THIS_AND_FOLLOWING","ALL"]}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AssignmentDtoV1"}}}},"description":"OK"}},"summary":"Delete recurring assignment","tags":["Scheduling"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"patch":{"operationId":"editRecurring","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents assignment identifier across the system.","example":"5b641568b07987035750505e","in":"path","name":"assignmentId","required":true,"schema":{"type":"string","description":"Represents assignment identifier across the system.","example":"5b641568b07987035750505e"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignmentUpdateRequestV1"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AssignmentDtoV1"}}}},"description":"OK"}},"summary":"Update recurring assignment","tags":["Scheduling"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/scheduling/assignments/series/{assignmentId}":{"put":{"operationId":"editRecurringPeriod","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents assignment identifier across the system.","example":"5b641568b07987035750505e","in":"path","name":"assignmentId","required":true,"schema":{"type":"string","description":"Represents assignment identifier across the system.","example":"5b641568b07987035750505e"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecurringAssignmentRequestV1"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AssignmentDtoV1"}}}},"description":"OK"}},"summary":"Change recurring period","tags":["Scheduling"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/scheduling/assignments/user-filter/totals":{"post":{"operationId":"getUserTotals","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetUserTotalsRequestV1"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SchedulingUsersTotalsDtoV1"}}}},"description":"OK"}},"summary":"Get total of users' capacity on workspace","tags":["Scheduling"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/scheduling/assignments/users/{userId}/totals":{"get":{"operationId":"getUserTotalsForSingleUser","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents user identifier across the system.","example":"5a0ab5acb07987125438b60f","in":"path","name":"userId","required":true,"schema":{"type":"string","description":"Represents user identifier across the system.","example":"5a0ab5acb07987125438b60f"}},{"description":"page","example":1,"in":"query","name":"page","required":false,"schema":{"type":"string","description":"page","example":1}},{"description":"page","example":50,"in":"query","name":"page-size","required":false,"schema":{"maximum":200,"type":"string","description":"page","example":50}},{"description":"Represents start date in yyyy-MM-ddThh:mm:ssZ format.","example":"2020-01-01T00:00:00Z","in":"query","name":"start","required":true,"schema":{"type":"string","description":"Represents start date in yyyy-MM-ddThh:mm:ssZ format.","example":"2020-01-01T00:00:00Z"}},{"description":"Represents end date in yyyy-MM-ddThh:mm:ssZ format.","example":"2021-01-01T00:00:00Z","in":"query","name":"end","required":true,"schema":{"type":"string","description":"Represents end date in yyyy-MM-ddThh:mm:ssZ format.","example":"2021-01-01T00:00:00Z"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SchedulingUsersTotalsDtoV1"}}},"description":"OK"}},"summary":"Get total capacity of a user","tags":["Scheduling"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/scheduling/assignments/{assignmentId}/copy":{"post":{"operationId":"copyAssignment","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"Represents assignment identifier across the system.","example":"5b641568b07987035750505e","in":"path","name":"assignmentId","required":true,"schema":{"type":"string","description":"Represents assignment identifier across the system.","example":"5b641568b07987035750505e"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CopyAssignmentRequestV1"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AssignmentDtoV1"}}}},"description":"OK"}},"summary":"Copy scheduled assignment","tags":["Scheduling"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"/v1/workspaces/{workspaceId}/tags":{"get":{"operationId":"getTags","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}},{"description":"If provided, you'll get a filtered list of tags that matches the provided string in their name.","example":"feature_X","in":"query","name":"name","required":false,"schema":{"type":"string","description":"If provided, you'll get a filtered list of tags that matches the provided string in their name.","example":"feature_X"}},{"description":"Flag to toggle on/off strict search mode.","example":true,"in":"query","name":"strict-name-search","required":false,"schema":{"type":"string","description":"Flag to toggle on/off strict search mode.","example":true}},{"description":"Represents a list of excluded ids","example":["90p687e29ae1f428e7ebe657","3r8687e29ae1f428e7eg567y"],"in":"query","name":"excludedIds","required":false,"schema":{"type":"string","description":"Represents a list of excluded ids","example":["90p687e29ae1f428e7ebe657","3r8687e29ae1f428e7eg567y"]}},{"description":"Represents column to be used as sorting criteria.","example":"NAME","in":"query","name":"sort-column","required":false,"schema":{"type":"string","description":"Represents column to be used as sorting criteria.","example":"NAME"}},{"description":"Represents sorting mode. Possible values: ASCENDING, DESCENDING","example":"ASCENDING","in":"query","name":"sort-order","required":false,"schema":{"type":"string","description":"Represents sorting mode. Possible values: ASCENDING, DESCENDING","example":"ASCENDING"}},{"description":"page","example":1,"in":"query","name":"page","required":false,"schema":{"type":"string","description":"page","example":1}},{"description":"page size","example":50,"in":"query","name":"page-size","required":false,"schema":{"type":"string","description":"page size","example":50}},{"description":"Filters the result whether tags are archived or not.","example":false,"in":"query","name":"archived","required":false,"schema":{"type":"string","description":"Filters the result whether tags are archived or not.","example":false}}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TagDtoV1"}}}},"description":"OK"}},"summary":"Find tags on workspace","tags":["Tag"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"post":{"operationId":"createNewTag","parameters":[{"description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303","in":"path","name":"workspaceId","required":true,"schema":{"type":"string","description":"Represents workspace identifier across the system.","example":"64a687e29ae1f428e7ebe303"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagRequest"}}},"required":true},"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagDtoV1"}}},"description":"Created"}},"summary":"Add a new tag","tags":["Tag"],"security":[{"ApiKeyAuth":[]},{"AddonKeyAuth":[]}]},"servers":[{"url":"https://api.clockify.me/api"}]},"
[...]
